.App {
  text-align: center;
}


.countrydropdown{
  width: 300px;
  padding: 10px;
  margin: 20px;
}

.dropdown{
  padding: 10px;
  margin: 20px;
}

.city{
  font-size: 25px;
}

.statecountry{
  color: gray;
}